body{
	background-color: hotpink;
	font-family: sans-serif;

}

.container{
	width: 360px;
	padding: 33px;
	text-align: center;
	background-color: hotpink;
	margin-left: 33%;
	margin-top: 5px;
}

button{
	width: 60px;
	height: 41px;
	background-color: green;
	color: white;
	border: none;
	outline: none;
	border-radius: 2px;
	font-size: 19px;
	cursor: pointer;
	border-radius: 5px;
}
input{
	width: 270px;
	padding: 8px;
	border: 2px solid blue;
	outline: none;
	font-size: 19px;
	border-radius: 5px;
}
.text ul{
	position: relative;
	background-color: white;
	color: black;
	font-size: 19px;
	text-align: left;
	padding: 7px;
	border-radius: 5px;

}

.text ul i{
	position: absolute;
	right: 10px;
	cursor: pointer;
	color: red;

}